<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpBinding_IService1" />
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address=""
					  binding="wsHttpBinding"
					  contract="EmployeeServices.IEmployeeService"
					  bindingConfiguration="wsHttpBinding_IEmployeeService" />
		</client>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

</configuration>
